<h1> Photo Timeline</h1>
<% @posts.each_with_index do |post,index| %>
	<p class='title'>Title: <%= post.title %></p></br>
	<p id= "image"><%= image_tag post.image.url %></p></br>
        <div class="vote" id=<%=post.id%>>
        <% if @post_meta[index]["hadComment"] %>
          <p>buy : <%=@post_meta[index]["buy"]%> 
             nbuy : <%=@post_meta[index]["nbuy"]%> </p>
          
        <% else %>
          <button type="button" class="buy" value=<%=post.id %>>buy</button>
          <button type="button" class="nbuy" value=<%=post.id %>>don't buy</button>
        <% end %>
        </div>
<% end %>
